---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Abhishek Govindarasu - 404"
  description="The page you are looking for does not exist."
>
  <section
    class="flex-grow flex flex-col justify-center items-center px-4 relative z-20"
  >
    <div class="text-center max-w-[600px]">
      <p class="text-white text-lg mb-4">
        Oops! that page does not exist. If you are seeing this now, its probably
        cause this site is still in development, check back later!
      </p>
    </div>
  </section>
</BaseLayout>
