---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Abhishek Govindarasu - 404"
  description="The page you are looking for does not exist."
>
  <section
    class="error w-full pt-16 pb-8 flex flex-col justify-center items-center container max-w-[600px] p-4 my-4 m-[0_auto] z-20"
  >
    <p class="text-white text-center">
      Oops that page does not exist. If you are seeing this now, its probably
      cause this site is still in development, check back later!
    </p>
  </section>
</BaseLayout>
