@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

body,
html {
    margin: 0;
    padding: 0;
    width: 100vw;
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
}

#app {
    height: 100%;
    display: flex;
    flex-direction: column;
}   


::-webkit-scrollbar{
	width: 5px;
}

::-webkit-scrollbar-track-piece{
	/* background-color: #FFF; */
}

::-webkit-scrollbar-thumb{
	background-color: #909090;
	/* outline: 2px solid #FFF; */
	outline-offset: -2px;
	/* border: .1px solid #B7B7B7; */
}

::-webkit-scrollbar-thumb:hover{
	background-color: #BBBBBB;
}