@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-background: #242424;
    --bulba-svg-length: 2984.65185546875;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);

    background: rgb(36, 36, 36);
    background: radial-gradient(
        circle,
        rgba(36, 36, 36, 1) 28%,
        rgba(14, 28, 18, 1) 99%
    );
    background-attachment: fixed;
    opacity: 1;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100vw;

    font-size: 110%;
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
}

#app {
    height: 100%;
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track-piece {
    background-color: var(--color-background);
}

::-webkit-scrollbar-thumb {
    background-color: #909090;
    /* outline: 2px solid #FFF; */
    outline-offset: -2px;
    /* border: .1px solid #B7B7B7; */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #bbbbbb;
}

.clipboard-popup {
    animation: popup ease 0.2s;
    background-color: rgb(38, 42, 48);
    border-width: 2px;
    border-color: #424244;
}
@keyframes popup {
    0% {
        opacity: 0;
        border-color: #242424;
    }
    100% {
        opacity: 1;
        border-color: #424244;
    }
}

.animated-svg {
    fill: none;
    stroke: #67d78e;
    stroke-width: 25;
    stroke-dasharray: var(--bulba-svg-length);
    animation: draw 3.5s normal forwards cubic-bezier(.66,.97,.68,1.02);
}

.animated-svg:hover {
    stroke-width: 40;
}


@keyframes draw {
    0% {
      stroke-dashoffset: var(--bulba-svg-length);
    }
    70% {
      scale: 1;
    }
    
    80% {
      stroke-dashoffset: 0;
      scale: 1.2;
    }
    90% {
      stroke-dashoffset: 0;
      scale: 1;
    }
    100% {
      stroke-dashoffset: 0;
      scale: 1;
    }
  }
  