---
import { SEO } from "astro-seo";
import { ViewTransitions } from "astro:transitions";
import { BackgroundOverlay } from "../components/Background";
import { Navbar } from "../components/Navbar";
import { ScrollProgress } from "../components/ScrollProgress";
import "../styles/global.css";

interface Props {
  title: string;
  description: string;
  canonical?: string;
  ogImage?: string;
  article?: boolean;
  schema?: Record<string, unknown>;
}

const {
  title,
  description,
  canonical,
  ogImage,
  article = false,
  schema,
} = Astro.props;
const siteUrl = "https://ahh.bet";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link
      rel="preload"
      href="/min/background-min.webp"
      as="image"
      type="image/webp"
    />
    <meta name="theme-color" content="#2b665e" />
    <script
      type="text/partytown"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-8D9LJ52ZXH"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-8D9LJ52ZXH");
    </script>
    <SEO
      title={title}
      description={description}
      canonical={canonical || siteUrl}
      openGraph={{
        basic: {
          title: title,
          type: article ? "article" : "website",
          image: ogImage || `${siteUrl}/og/home.png`,
        },
        optional: {
          description: description,
          siteName: "Abhishek Govindarasu",
        },
        image: {
          alt: title,
        },
      }}
      twitter={{
        card: "summary_large_image",
        site: "@_ahh_g",
        creator: "@_ahh_g",
      }}
    />
    {
      schema && (
        <script type="application/ld+json" set:html={JSON.stringify(schema)} />
      )
    }
    <ViewTransitions />
  </head>
  <body>
    <div id="app">
      <div class="flex flex-col min-h-[100dvh] relative">
        <BackgroundOverlay client:only="preact" transition:persist />
        <header
          class="fixed top-0 left-0 right-0 z-50 before:absolute before:left-0 before:right-0 before:top-0 before:h-20 before:bg-gradient-to-b before:from-black/90 before:to-transparent before:backdrop-blur-lg before:-z-10"
          transition:persist
        >
          <Navbar client:only="preact" />
        </header>
        <slot />
        {article && <ScrollProgress client:only="preact" transition:persist />}
      </div>
    </div>
  </body>
</html>
